
.postHeader {
    display: inline-flex;
    width: 100%;
    margin-top: 30px;
}
.postInput {
    width: 100%;
    margin-right: 10px;
}

.postButton {
    width: 30%;
    height: 20%;
}

.avatar {
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.infinite-scroll-container {
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 3px;
    overflow: auto;
  
    .mat-list-base {
      padding-top: 0;
    }
  
    ng-scrollbar {
      --scrollbar-track-color: rgba(0, 0, 0, 0.05);
      --scrollbar-thumb-color: var(--color-infinite-scroll-example);
      --scrollbar-size: 12px;
  
      border-radius: 3px;
      border: 2px solid rgba(0, 0, 0, 0.05);
    }
  
    .inner {
      width: 140%;
    }
  }