<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="loginForm">
        <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
            <h1>Login</h1>
            <mat-form-field class="loginInput">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" maxlength="50" placeholder="Fill in your email...">
            </mat-form-field>
            <mat-form-field class="loginInput">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Fill in your password...">
            </mat-form-field>
            <button class="loginButton" (click)="onSubmit()" mat-raised-button color="primary">Login</button>
            <p>Click <a routerLink="/register">here</a> to register an account</p>
        </div>
    </div>
</form>