<div fxLayout="column" fxLayoutAlign="space-around" >
    <div class="navHeader">
        <img class="avatar" src="../../../assets/images/img_avatar.png" alt="Avatar">
        <h2 class="navTitle">Username</h2>
    </div>
    
    <div class="navLinks">
        <h3 routerLink="/notifications" class="navLink">Notifications</h3>
        <h3 routerLink="/history" class="navLink">History</h3>
    </div>

    <div class="navCar">
        <h2 class="navTitle">Your car</h2>
        <h3 *ngIf="!user.car; else carData">There is no data yet</h3>
        <ng-template #carData>
    </div>
</div>
