.leftNav {
    margin-left: 20px;
}
.navHeader {
    display: inline-flex;
    margin-top: 50px;
}

.navTitle {
    margin-top: 5px;
    margin-left: 5px;
}

.navLinks {
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
}

.navLink {
    margin-top: 5px;
    width: 40%;
    height: 30%;
    background: rgba(83, 146, 165, 0.5);
    border-radius: 10px;
    text-align: center;
}

.navLink:hover {
    background: rgba(134, 194, 212, 0.5);
    cursor: pointer;
}

.navLink > h3{
    margin:auto;
}

.avatar {
    height: 50px;
    border-radius: 50%;
}